body{
    font-size: 16px;
    margin: 0 auto;
    background: linear-gradient(to right, #FFE976, #FFB33F);;
}

/*navigation bar*/

header {
    background-color: #FF9635;
    box-shadow: 0 10px 15px -3px 
rgba(119, 119, 119, 0.1),
        0 4px 6px -4px 
rgba(0, 0, 0, 0.1);
}

nav{
    float:right;
    padding: 0 70px 0 0;
}

span{
    display: inline-block;
}

span img{
    height: 50px;
    padding: 5px 800px 0 5px;
}

li{
    display: inline;
    padding-right: 10px;
}

ul li:hover{
  color:rgb(221, 144, 0);
}

a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-style: italic;
}

a:hover{
    color: #dd6b00;
    cursor: pointer;
}

/*main first section*/
main section img{
    height: 530px;
}

main{
    display: inline-block;
}

main section{
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

/*.text{
    display: block;
}*/

h4{
    margin: 1.0rem 0;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    margin: 1.0rem 0;
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

h6{
    margin: 1.0rem 0;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Menu preview*/
h3{
    display: block;
    font-size: 30px;
    text-align: center;
}

.preview{
    display: grid;
    padding: 20px 235.5px;
    background-color: azure;
}

.sample{
    display: inline-block;
}

.sample li{
    display: inline-block;
    padding: 0 10px; /*move this*/
    width: 200px;
}

.sample li a{
    padding: 0;
}

.sample img{
    padding: 0;
    border-radius: 30px;
    height: 300px;
}

.sample li p{
    padding: 0;
    margin: 0;
}

.preview button{
    border-radius: 50%;
    width: 30px;
    background-color: #FFB33F;
}

/*Contacts & Sops section*/

.contactsnshops article{
    padding: 0 150px;
}

/*Gallery*/

.gallery{
    display: block;
    background-color: beige;
    padding-top: 20px;
}

.gallery h2{
    margin: 0;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}

span{
    display: inline-flex;
}

.images article{
    display: inline-block;
    padding: 0 55px; /*move*/
}

.images img{
    display: inline-block;
    padding: 20px 65px;
    border-radius: 30px;
    height: 300px;
}

/*footer*/

footer{
    padding-bottom: 4px;
    display: block;
    background-color: #FF9635;
}

footer p {
    margin: 0;
    padding: 8px 0 0 5px;
}